:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #f55a5a;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.logo {
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
  margin-left: 7px;
}

.card {
  display: flex;
  padding: 20px 40px;
}

.image--container {
  width: 160px;
  height: 230px;
  min-width: 160px;
}

.image--container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card--description {
  padding: 20px;
}

.card--description h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2b283a;
}

.card--description p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 15px */

  color: #2b283a;
}

.description--location a {
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  text-decoration-line: underline;
  margin-left: 12px;
  color: #918e9b;
}

.description--location span {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;

  color: #2b283a;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

.timespan {
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 12px !important;
  color: #2b283a !important;
}
